body {
    background-color: black;
}

#intro_label {
    font-size: 200%;
}

p {
    color: white;
}

ul {
    position: relative;
    color: white;
}

#side-pic {
    height: 300px;
    width: auto;
}

#intro_label {
    color: white;
}