body {
  background-color: tan;
}

#intro_label {
  font-size: 200%;
}

p {
  color: white;
}

ul {
  position: relative;
  color: white;
}

#side-pic {
  height: 300px;
  width: auto;
}

#intro_label {
  color: white;
}

.photos {
  width: 400px;
  height: auto;
}

img {
  border-radius: 25px;
}
