html {
  background-image: url("https://image.freepik.com/free-photo/card-soft-template-paper-report_1258-167.jpg");
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
}
